:root {
    --text-color:  #3A404E;
    --color-wine: #8E2424;
    --color-gray-1: #101828;
    --color-logo: #3A404E;
    --color-white: #ffffff;
    --color-gray-2: #667085;
    --color-gray-3: #eaecf0;
    --color-gray-4: #d0d5dd;
    --color-pink-ligth: #C3191908;
    --color-gray-5: #f9fafb;
    --color-gray-6: #98a2b3;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.navegacao__div {
    background-image: url(../Imagens/_Button\ base.svg);
    background-repeat: no-repeat;
    background-position-x: 6rem;
    background-position-y: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    width: 95%;
    margin: 0 auto;
}

.div__links {
    margin-left: 20%;
}

.div__links a {
    color: var(--color-gray-2);
    margin-right: 2rem;
    text-decoration: none;
}

.div__button {
    margin-right: 6%;
}

.div__button button{
    height: 44px;
    width: 112px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem 1rem;
    border: none;
    background-color: transparent;
    color: var(--color-gray-2);
    border-radius: 0.5rem;
}

#button__cadastrar {
    color: var(--color-white);
    background-color: var(--color-wine);
}

/*****  cabecalho  *****/

.secao__cabecalho {
    text-align: center;
}

.secao__cabecalho h1 {
    color: var(--color-wine);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5rem 0 1rem;
}

.secao__cabecalho h1 + p {
    color: var(--color-gray-1);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
    
}

.secao__cabecalho:nth-child(2) {
    color: var(--color-gray-2);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 7rem;
}

/***** métricas *****/

.secao__metricas__container {
    display: flex;
    justify-content: space-around;

    width: 90%;

    margin: 0 auto;
}

.container__projetos {
    width: 22%;
}

.container__projetos span {
    color: var(--color-wine);
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
}

.container__projetos span + p {
    color: var(--color-gray-1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.2;
}

.container__projetos p:last-child {
    color: var(--color-gray-2);
    font-weight: 400;
    line-height: 1.4;
}

.container__colaboradores {
    width: 22%;
}

.container__colaboradores span {
    color: var(--color-wine);
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
}

.container__colaboradores span + p {
    color: var(--color-gray-1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.2;
}

.container__colaboradores p:last-child {
    color: var(--color-gray-2);
    font-weight: 400;
    line-height: 1.4;
}

.container__downloads {
    width: 22%;
}

.container__downloads span {
    color: var(--color-wine);
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
}

.container__downloads span + p {
    color: var(--color-gray-1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.2;
}

.container__downloads p:last-child {
    color: var(--color-gray-2);
    font-weight: 400;
    line-height: 1.4;
}

.container__reviews {
    width: 22%;
}

.container__reviews span {
    color: var(--color-wine);
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
}

.container__reviews span + p {
    color: var(--color-gray-1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.2;
}

.container__reviews p:last-child {
    color: var(--color-gray-2);
    font-weight: 400;
    line-height: 1.4;
}

/***** vagas/métricas *****/

.secao__metricas__vagas {
    text-align: center;
}

.div__matricas__imagem {
    width: 1216px;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.div__metricas {
    text-align: center;
}

.div__metricas h2 {
    color: var(--color-wine);
    font-size: 1rem;
    font-weight: 500;
    padding-top: 10rem 
}

.div__metricas h2 + p {
    color: var(--color-gray-1);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.2;
}

.div__metricas p:last-child {
    color: var(--color-gray-2);
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 3.5rem;
}

/***** vagas *****/

.vagas {
    width: 768px;
    margin: 0 auto;
}

.vagas h3 {
    color: var(--color-gray-1);
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 4rem;
}

.div__vagas {
    border: 1px solid var(--color-gray-3);
    border-radius: 0.5rem;
    height: 136px;
    margin-top: 2rem;
    width: 768px;
}

.div__vagas p {
    color: var(--color-gray-1);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 2rem 0 0 2rem;
}

.second__div__vagas {
    color: var(--color-gray-2);
    font-size: 1rem;
    font-weight: 500;
    margin: 2.5rem 0 0 2rem;
}

/***** depoimentos *****/

.depoimentos {
    height: 500px;
}

.depoimentos__container {
    background-color: var(--color-pink-ligth);
    height: 404px;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
    width: 1216px;
}

.descricao__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 124px;
    margin: 0 auto;
    width: 1088px;
    padding-top: 4rem;
}

.descricao__container h2{
    color: var(--color-wine);
    font-size: 1rem;
    font-weight: 600;
}

.descricao__container p {
    color: var(--color-gray-1);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.1;
}

.pessoa__container {
    height: 120px;
    width: 1088px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pessoa__container .imagem__container + p {
    color: var(--color-gray-1);
    font-weight: 500;
    font-size: 1rem;
}

.pessoa__container:nth-child(2) {
    color: var(--color-gray-2);
    font-size: 0.85rem;
    font-weight: 400;
}

.imagem__container {
    background-image: url(../Imagens/Avatar.png);
    height: 56px;
    width: 56px;
    margin: 0 auto;
}

/***** formulário *****/

.section__form {
    background-color: var(--color-gray-5);
    height: 430px;
    width: 100%;
    text-align: center;
}

.div__form {
    height: 182px;
    text-align: center;
    margin: 0 auto;
    width: 832px;
    margin-bottom: 2rem;
}

.div__form p:first-child {
    color: var(--color-gray-1);
    font-size: 2.2rem;
    font-weight: 600;
}

.div__form p + p { 
    color: var(--color-gray-2);
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2.2rem 0;
}

.section__div__form {
    padding-top: 6rem;
}

#email {
    border: 1px solid var(--color-gray-4);
    height: 48px;
    width: 360px;
    border-radius: 0.5rem;
    outline: none;
}

.div__form button {
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-wine);
    color: var(--color-white);
    height: 50px;
    width: 116px;
    margin-left: 0.5rem;
}

#email::placeholder {
    color: var(--color-gray-2);
    font-size: 1rem;
}

.section__form p {
    color: var(--color-gray-6);
}


